body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(img/bg-login.jpg);}
.login-container {
    background-color:#A19F9F;
    padding: 20px;
    border-radius: 10px 10px 0px 0px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    width: 500px;
}
.login-container h2, h5 {
    text-align: center;
    margin-top: -10px;
}
.login-container input[type="text"],
.login-container input[type="password"],
.login-container input[type="email"] {
    width: 100%;
    padding: 20px;
    margin-bottom: 15px;
    border:none;
    border-bottom: 2px solid black;
        outline: none;
    background-color: transparent;
    box-sizing: border-box;
}
.login-container input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    border: none;
    border-radius: 3px;
    color: #ffffff;
    cursor: pointer;
    transition: background-color 0.3s;
}
.login-container input[type="submit"] {
    background-color: #0D6EFD;
    height: 50px;
}
.login-container input[type="submit"]:hover {
    background-color: #013179;
}
.logo{
    width: 70px;
    height: 70px;
    display:inline-flex;
    margin-top: 66px;
}
.hading{
    display:inline-flex;
    font-weight:800;
    font-size:50px;
    font-family: Arial, Helvetica, sans-serif;
    /* margin-top: 20px; */
    color: #FFFFFF;
}
h2{
    font-weight:800;
    font-size:50px;
    font-family: Arial, Helvetica, sans-serif;
    /* margin-top: 20px; */
    color: #212529;
}
h5{
    font-weight:800;
    font-size:larger;
    font-family:cursive;
    /* margin-top: 20px; */
    color: #257bd1;
}